apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
  namespace: postgres
spec:
  instances: 1

  bootstrap:
    initdb:
      database: postgres
      owner: postgres
      secret:
        name: postgres-superuser

  enableSuperuserAccess: true
  superuserSecret:
    name: postgres-superuser

  storage:
    size: 1Gi
    storageClass: local-path

  postgresql:
    parameters:
      max_connections: "100"
      shared_buffers: "128MB"
